 #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: rgb(182, 211, 191);
  color: rgb(8, 8, 22);
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica';
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 2rem; 
        
}
.error-message {
  color: rgb(185, 6, 6);
  margin-top: 0.5rem; /* avstånd från övrigt innehåll */
}